/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2014, 1:41:56 PM
    Author     : alo
*/

@keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(359deg);}
}
.icon-spin {
    animation: 1.5s linear 0s normal none infinite spin;
    -webkit-animation: 1.5s linear 0s normal none infinite spin;
    display: inline-block;
}

i:active { background-color: #428bca; }

.selectable-row:active { background-color: #428bca; color: white;}

.popover {
    max-width: 800px;
    min-width: 250px;
}

.jqui-draggable.ui-draggable-dragging {
    color: black;
    background: yellow; 
    font: bold; 
    z-index: 1000;
}

.panel, .panel-body, h4 {
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    margin: 0 !important;
}

.panel-heading {
    padding-top: 8px;
    padding-bottom: 5px;
}

.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

.bperspective {
    display: none;
}

