/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2014, 1:41:56 PM
    Author     : alo
*/

@keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(359deg);}
}
.icon-spin {
    animation: 1.5s linear 0s normal none infinite spin;
    -webkit-animation: 1.5s linear 0s normal none infinite spin;
    display: inline-block;
}

i:active { background-color: #428bca; }

.selectable-row:active { background-color: #428bca; color: white;}

.popover {
    max-width: 800px;
    min-width: 250px;
}

.jqui-draggable.ui-draggable-dragging {
    color: black;
    background: yellow; 
    font: bold; 
    z-index: 1000;
}

.panel, .panel-body, h4 {
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    margin: 0 !important;
}

.panel-heading {
    padding-top: 8px;
    padding-bottom: 5px;
}

.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

.bperspective {
    display: none;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
