<div class="container" style="max-width: 100%;">
    <div id="{{divElementId}}-diagram-toolbar" class="row">
        <div class="row" style="margin: 15px;">
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group" role="group" aria-label="..." style="margin-right: 5px;">
                    <button type="button" class="btn btn-default btn-sm" id="{{divElementId}}-stated-button-d">Stated</button>
                    <button type="button" class="btn btn-default btn-sm" id="{{divElementId}}-inferred-button-d">Inferred</button>
                </div>
            </div>
        </div>
    </div>
    <div id="{{divElementId}}-diagram-body" class="row" style="overflow: auto; width: 1000;">

    </div>
</div>