<form role="form" id="{{divElementId}}-options-form">
    <div class="form-group">
        <div class="checkbox">
            <label>
                {{#if options.displayPreferredTerm}}
                    <input type="checkbox" id="{{divElementId}}-displayPreferredTermOption" checked> <span class="i18n" data-i18n-id="i18n_display_synonyms2">Display preferred terms in ECL query results</span>
                {{else}}
                    <input type="checkbox" id="{{divElementId}}-displayPreferredTermOption"> <span class="i18n" data-i18n-id="i18n_display_synonyms2">Display preferred terms in ECL query results</span>
                {{/if}}
            </label>
        </div>
    </div>    
</form>